﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface

@model Phonebook.ViewModels.SearchPersonnel

@{
	var captcha = ViewData["captcha"] as ICaptcha;
}

@using (Html.BeginForm("Search", "Personnels", FormMethod.Get, new { style = "width: 50rem;padding: 2rem; margin: 1rem; border: 1px solid black; border-radius: 6px;" }))
{
	<div class="form-group">
		@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="Name">Resim Doğrulama</label>
		<div class="col-md-10">
			@captcha.RenderMarkup()
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Search" class="btn btn-default" />
		</div>
	</div>
	<div class="clearfix"></div>
}
