﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface

@model IEnumerable<Phonebook.Models.Personnel>

@{
	ViewBag.Title = "Search Personnel";

	var search = ViewData["SearchPersonnel"] as Phonebook.ViewModels.SearchPersonnel;

	ICaptcha captcha = Html.MathCaptcha("Refresh", "Input", "Is required field.", true);
}

@section Scripts
{
	@captcha.RenderScript()
}

<h2>Search</h2>

@Html.Partial("_SearchForm", search, new ViewDataDictionary { { "captcha", captcha } })

@if (Model != null)
{
	foreach (var item in Model)
	{

		<div class="card" style="width: 50rem;padding: 2rem; margin: 1rem; border: 1px solid black; border-radius: 6px;">
			<div class="card-body">
				<h3 class="card-title"><strong>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</strong></h3>
				<h4 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Title)</h4>
				<div class="row">
					<div class="col-lg-4">
						@if (item.Photo != null)
						{
							<img alt="Portrait Photo" src="@Url.Action("Photo", new { id = item.Id })" width="150" />
						}
					</div>
					<div class="col-lg-8">
						<dl class="dl-horizontal">
							<dt style="width:10rem">Department</dt>
							<dd style="margin-left:10.5rem">@Html.DisplayFor(modelItem => item.Department.Name)</dd>
							<dt style="width:10rem">Phone</dt>
							<dd style="margin-left:10.5rem">@Html.DisplayFor(modelItem => item.PhoneNumber)</dd>
							<dt style="width:10rem">e-Mail</dt>
							<dd style="margin-left:10.5rem">@Html.DisplayFor(modelItem => item.Email)</dd>
						</dl>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	}
}
